@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply px-4 md:px-8 mx-auto;
  }
  .button {
    @apply px-3 py-2 rounded-md font-medium;
  }
  .button-primary {
    @apply bg-blue-600 hover:bg-blue-700 active:bg-blue-800 text-white;
  }
}

.trailer-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.trailer-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
